* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: White;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1220px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0px;
}

input:focus {
    border: none;
    outline: none;
}

.hero_section .react-multiple-carousel__arrow {
    display: none;
}